* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(85, 190, 14);
}

input{
    display: flex;
    
    margin: 20px;
    padding: 5px;
    
}
select{
    display: flex;
    
    margin: 25px;
    padding: 2px;
    
}

h1,label{
    font-family: sans-serif;
    font-family: cursive;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    display:inline-block;
    
}

button{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align:center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display:inline-block;
    color: #FFF;
    background: #000000;
    padding: 7px 20px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 100px;
    margin: 10px 5px;
    cursor: pointer;
}

.btnTABLA{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align:center;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background: #ffffff;
    margin: 0PX;
    border: #FFF;    
    cursor: pointer;
}

h1,label{
    margin: 5px;
    font-weight: 500 ;
    padding: 5px;
    

}

.Selector-Columnas{
    display: flex;
    margin: 5px;
}

table{
    background-color: #FFF;
    margin: 5px;;
}

tr,td{
    border: 1px solid black;
    padding: 10px;
}

